/*==========  section home ==========*/
.home {
  position: relative;
  background: url("../img/home-bg.jpeg") no-repeat center;
    background-size: cover;
  z-index: 1;
  padding: 50px 0; }
  .home:before {
    content: '';
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1; }
  .home h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    max-width: 440px; }
  .home .subtitle {
    margin: 8px 0 6px;
    font-size: 18px;
    line-height: 17px;
    font-weight: 500; }
  .home .box-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; }

.category-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 88px 0 0; }
  .category-list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #fff;
    text-align: center;
    margin: 0 0 36px; }
    .category-list-item:hover {
      color: #FF4E20; }
    .category-list-item__icon {
      margin: 0 auto 33px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 46px; }
      .category-list-item__icon img {
        max-height: 100%; }

.home-content {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 32px 172px 33px 93px; }
  .home-content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #FF4E20;
    height: 100%;
    max-width: 720px;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%); }
  .home-content__footer {
    width: 100%;
    margin: 33px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500; }
  .btn-play__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 14px 0 0;
    width: 50px;
    height: 50px;
    fill: #fff; }
  .btn-play__text {
    max-width: 95px; }
  .btn-play:hover {
    color: #2E2D29; }

.btn-download {
  text-align: left;
  margin: 0 0 0 47px; }
  .btn-download .btn-icon {
    fill: #fff;
    width: 32px;
    height: 27px;
    margin: 0 0 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .btn-download .btn-text {
    max-width: 152px; }

.btn-system {
  padding: 13px 33px 13px 27px; }
  .btn-system .btn-icon {
    width: 46px;
    height: 46px;
    fill: #fff;
    margin: 0 23px 0 0; }

/*==========  section home end  ==========*/
/*==========  section about ==========*/
.about {
  margin: 114px 0 176px;
  color: #fff; }

.about-title {
  position: relative;
  z-index: 1;
  padding: 47px 0 82px 0; }
  .about-title h2 {
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase; }
  .about-title:before {
    content: '';
    position: absolute;
    top: 0;
    width: 1103px;
    right: -128px;
    height: 100%;
    z-index: -1;
    background: #FF4E20;
    -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%); }

.about-content {
  position: relative;
  z-index: 1;
  padding: 56px 0 45px 50px;
  margin: 60px 0 0; }
  .about-content:before {
    content: '';
    position: absolute;
    top: 0;
    left: -112px;
    height: 100%;
    width: 1466px;
    background: #2E2D29;
    z-index: -1;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%); }

/*==========  section about end  ==========*/
/*==========  section helper ==========*/
.helper-title {
  position: relative;
  padding: 0 30px 0 0;
  margin: 0 0 58px; }
  .helper-title:before {
    content: '';
    position: absolute;
    width: 94px;
    height: 178px;
    background: url("../img/figure.svg") no-repeat center;
      background-size: 100%;
    top: 50%;
    right: -14px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .helper-title .subtitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    max-width: 550px; }
  .helper-title h2 {
    margin: 0 0 20px;
    line-height: 60px; }

.helper-box {
  padding: 58px 18px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  min-height: 305px; }
  .helper-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/border1.svg") no-repeat center top;
      background-size: 100%; }
  .helper-box strong {
    font-weight: bold; }

.helper-box2, .helper-box3 {
  padding: 58px 42px; }
  .helper-box2:before, .helper-box3:before {
    background: url("../img/border2.svg") no-repeat center top;
      background-size: 100%; }

.helper-box3 {
  padding: 58px 42px 20px; }
  .helper-box3:before {
    background: url("../img/border3.svg") no-repeat center top;
      background-size: 100%; }

/*==========  section helper end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  margin: -139px 0 39px;
  padding: 250px 0 88px;
  background: url("../img/advantages-bg.png") no-repeat center;
    background-size: cover;
  color: #fff;
  position: relative; }

.advantages-box {
  margin: 0 0 56px; }
  .advantages-box__number {
    color: #FF4E20;
    font-size: 72px;
    font-weight: 700; }
  .advantages-box h3 {
    margin: 11px 0 8px;
    font-size: 32px;
    font-weight: bold;
    line-height: 31px; }
  .advantages-box .box-text {
    font-weight: 500; }
  .advantages-box h4 {
    font-size: 32px;
    font-weight: bold;
    line-height: 31px; }

.advantages-box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .advantages-box-wrap .advantages-box__number {
    margin: 0 11px 0 0; }
  .advantages-box-wrap h3 {
    max-width: 180px;
    margin: 0; }

.region-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 291px 20px 250px 0;
  margin: -140px 0 -193px 0; }
  .region-box__val {
    font-size: 72px;
    font-weight: 700;
    margin: 0 15px 0 0; }
  .region-box__text {
    font-size: 32px;
    font-weight: bold;
    line-height: 31px; }
  .region-box:before {
    content: '';
    position: absolute;
    width: 1230px;
    height: 606px;
    background: url("../img/map-svg.svg") no-repeat center;
      background-size: 100%;
    z-index: -1;
    left: -163px;
    top: 0; }

/*==========  section advantages end  ==========*/
/*==========  section worth ==========*/
.worth {
  margin: 0 0 93px; }

.worth-box {
  width: 100%;
  height: 100%;
  position: relative;
  background: #EAEAEA;
  border-radius: 5px;
  padding: 33px 39px 24px 31px;
  overflow: hidden;
  z-index: 1; }
  .worth-box:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FF4E20;
    width: 73px;
    height: 73px;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: -1; }
  .worth-box-head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 17px; }
    .worth-box-head__icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 18px 0 0;
      height: 58px;
      width: 52px;
      min-width: 52px; }
      .worth-box-head__icon img {
        max-height: 100%; }
  .worth-box h3 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px;
    max-width: 310px; }

/*==========  section worth end  ==========*/
/*==========  section slogan ==========*/
.slogan {
  margin: 0 0 128px;
  color: #fff; }
  .slogan .title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    z-index: 2;
    padding: 43px 75px 32px 0;
    font-size: 102px;
    line-height: 86px;
    margin: 0; }
    .slogan .title:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: #FF4E20;
      width: 1200px;
      z-index: -1;
      -webkit-clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%); }
  .slogan .subtitle {
    position: relative;
    z-index: 1;
    padding: 30px 126px 30px 24px;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 340px); }
    .slogan .subtitle:before {
      content: '';
      position: absolute;
      z-index: -1;
      height: 100%;
      background: #2E2D29;
      right: 0;
      width: 1443px;
      -webkit-clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%); }

/*==========  section slogan end  ==========*/
/*==========  section objects ==========*/
.objects {
  margin: 0 0 79px; }
  .objects h2 {
    margin: 0 0 77px; }

.objects-slider .slick-list {
  margin: 0 -10px; }

.objects-slider .slick-slide {
  padding: 0 10px;
  height: auto; }

.objects-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.objects-card {
  width: 100%;
  height: 100%;
  border: 2px solid #FF5100;
    border-radius: 5px;
  text-align: center;
  color: #2E2D29;
  padding: 18px 18px 32px; }
  .objects-card__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 26px;
    width: 100%;
    height: 245px; }
    .objects-card__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .objects-card:hover {
    color: #FF4E20; }

/*==========  section objects end  ==========*/
/*==========  section page ==========*/
.page {
  margin: 66px 0 146px; }
  .page h1 {
    margin: 0 0 28px; }

.list-documents {
  width: 100%; }
  .list-documents li {
    width: 100%;
    margin: 0 0 40px; }
    .list-documents li:last-child {
      margin: 0; }
    .list-documents li:before {
      top: 8px; }
  .list-documents h3 {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px; }

/*==========  section page end  ==========*/
/*==========  section question ==========*/
.accordion-item {
  width: 100%;
  margin: 0 0 20px;
  border: 1px solid #B5B5B5;
    border-radius: 5px; }
  .accordion-item:last-child {
    margin: 0; }

.accordion-header {
  padding: 20px 27px 20px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer; }
  .accordion-header:after {
    content: '';
    display: inline-block;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: #FF4E20;
    width: 30px;
    min-width: 30px;
    height: 15px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .accordion-header.collapsed:after {
    -webkit-transform: none;
            transform: none; }

.accordion-body {
  padding: 7px 24px 48px 31px; }

.accordion-item:not(:first-of-type) {
  border: 1px solid #B5B5B5; }

/*==========  section question end  ==========*/
/*==========  section page-contacts ==========*/
.page-contacts {
  margin: 0;
  background: #FF4E20;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 0 0 86px; }
  .page-contacts:before {
    content: '';
    position: absolute;
    z-index: -1;
    mix-blend-mode: soft-light;
    opacity: .2;
    width: 100%;
    height: 953px;
    background: url("../img/contacts-bg.jpeg") no-repeat center top;
      background-size: 100%; }
  .page-contacts .map {
    border-radius: 0;
    height: 953px;
    min-width: 979px;
    margin-left: auto; }
  .page-contacts .social {
    margin: 22px 0 0;
    width: 100%; }
  .page-contacts .footer-contacts {
    margin: 0 0 58px; }
    .page-contacts .footer-contacts .box-text {
      line-height: 22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .page-contacts .footer-contacts .box-text p {
        max-width: 273px;
        margin: 0 27px 0 0; }
    .page-contacts .footer-contacts .btn {
      max-width: 178px;
      width: 100%;
      padding: 0 10px;
      height: 43px; }

.contacts-row {
  margin: 63px 0 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .contacts-row .footer-contacts-callback {
    margin: 0 50px 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .contacts-row .footer-contacts-callback p {
      margin: 0 0 23px;
      line-height: 22px; }
  .contacts-row .footer-contacts {
    margin: 0; }
  .contacts-row .btn {
    max-width: 178px;
    width: 100%;
    padding: 0 10px;
    height: 43px; }

.contacts-box {
  margin: 0 0 65px; }
  .contacts-box:last-child {
    margin: 0; }
  .contacts-box h4 {
    margin: 0 0 10px;
    font-weight: bold; }
  .contacts-box .footer-mail {
    margin: 11px 0; }
  .contacts-box .tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts-box .tel-icon {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 13px 0 0; }
  .contacts-box p {
    font-size: 14px; }
  .contacts-box h3 {
    margin: 10px 0 13px;
    font-weight: bold;
    font-size: 24px; }

.tel-hot {
  margin: 8px 0 0;
  font-size: 14px; }
  .tel-hot .tel-icon {
    width: 9px;
    height: 16px;
    margin: 0 10px 0 0; }

.tel-mobile {
  font-size: 14px; }
  .tel-mobile .tel-icon {
    margin: 0 16px 0 0;
    width: 13px;
    height: 23px; }

/*==========  section page-contacts end  ==========*/
/*==========  section page-career ==========*/
.page-career {
  margin: 66px 0; }
  .page-career h1 {
    margin: 0; }

.vacancy-text {
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 28px 0 32px;
  font-weight: 500; }
  .vacancy-text h3 {
    font-weight: bold;
    font-size: 24px; }
  .vacancy-text:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 1400px;
    top: 0;
    right: -110px;
    background: #FF4E20;
    -webkit-clip-path: polygon(0 0, 100% 0, 93.5% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 93.5% 100%, 0% 100%); }

.vacancy-image {
  min-width: 951px;
  margin-left: auto;
  border-radius: 5px;
  height: 387px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .vacancy-image img {
    width: 100%; }

.hr-department-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0 0 60px; }
  .hr-department-wrapper h3 {
    margin: 0 0 34px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px; }

.hr-department__content {
  width: calc(100% - 392px);
  padding: 25px 59px 36px 40px;
  position: relative;
  z-index: 1; }
  .hr-department__content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 2px solid #FF5100;
      border-radius: 5px;
    z-index: -1;
    width: 972px; }

.hr-department__manager {
  color: #fff;
  background: #2E2D29;
  border-radius: 5px;
  padding: 46px 50px 40px;
  max-width: 392px;
  width: 100%;
  position: relative;
  z-index: 1; }
  .hr-department__manager a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 4px; }
    .hr-department__manager a:last-child {
      margin: 0; }
    .hr-department__manager a:hover {
      color: #FF4E20; }

.manager-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 22px 0 18px;
  line-height: 24px; }
  .manager-box__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 18px 0 0;
    width: 44px;
    min-width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%; }
    .manager-box__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.accordion-vacancy .accordion-header {
  background: #FF4E20;
  color: #fff;
  border-radius: 5px; }
  .accordion-vacancy .accordion-header:after {
    background: #fff; }

.accordion-vacancy .accordion-item {
  margin: 0 0 35px;
  border: none;
    border-radius: 5px;
  position: relative;
  z-index: 1; }

.accordion-vacancy .accordion-body {
  padding: 0;
  border: 1px solid #9E9E9E;
    border-top: none;
    border-radius: 0 0 5px 5px;
  margin: -2px 0 0; }
  .accordion-vacancy .accordion-body__head {
    border-bottom: 1px solid #FF4E20;
    padding: 31px 40px 34px;
    font-size: 20px;
    line-height: 29px; }
  .accordion-vacancy .accordion-body__content {
    padding: 35px 40px; }

.vacancy-box {
  margin: 0 0 34px;
  line-height: 26px; }
  .vacancy-box h3 {
    margin: 0 0 6px;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px; }

.job-invitation {
  margin: 92px 0 103px; }
  .job-invitation .helper-title {
    margin: 0 0 80px; }
    .job-invitation .helper-title .subtitle {
      max-width: 674px;
      font-size: 16px;
      line-height: 26px; }
    .job-invitation .helper-title:before {
      width: 188px;
      height: 355px; }

.job-image {
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  height: 408px; }
  .job-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.job-content {
  padding: 0 0 0 50px; }
  .job-content h3 {
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 34px;
    font-weight: 500; }
  .job-content ul li {
    margin: 0 0 15px; }
    .job-content ul li:last-child {
      margin: 0; }

.job-content-v2 {
  padding: 0; }

.job-image-decor {
  border-radius: 0;
  height: 380px;
  position: relative;
  min-width: 1445px;
  margin-left: auto; }
  .job-image-decor:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 135px;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%); }

/*==========  section page-career end  ==========*/
