@import "vars"

/*==========  section header ==========*/
header
  .mail
    position: relative
    z-index: 1
    padding: 34px 31px 20px 43px
    color: #fff
    font-size: 15px
    font-weight: bold
    &:hover
      color: $hover
    &:before
      content: ''
      position: absolute
      z-index: -1
      background: #FF4E20
      height: 100%
      width: 402px
      left: 0
      top: 0
      clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%)

.logo
  max-width: 170px
  width: 100%
  @include d-flex

.header-contacts
  position: relative
  z-index: 1
  padding: 26px 40px 12px 30px
  font-size: 10px
  .phone
    font-size: 20px
    margin: 0 0 2px
    color: #fff
    &:hover
      color: $accent
  &:before
    content: ''
    position: absolute
    z-index: -1
    width: 937px
    height: 100%
    top: 0
    left: 0
    clip-path: polygon(2% 0%, 100% 0%, 100% 100%, 0% 100%)
    background: #2E2D29

.navbar
  margin: 0 auto
  padding: 0
  .mail, .header-contacts
    display: none

.navbar-nav
  display: flex
  align-items: center
  flex-direction: row
  font-size: 14px
  font-weight: 500
  .nav-item
    margin: 0 18px 0 0
    &:last-child
      margin: 0
  .nav-link
    padding: 0
    color: #000000
    &:hover
      color: $accent
    &.active
      color: $accent
  .dropdown-toggle
    &:after
      display: none
  .dropdown-menu
    border: none
      radius: 5px
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05)
    background: #fff
    position: absolute
    padding: 28px 24px
    font-size: 14px
    li
      margin: 0 0 24px
      &:last-child
        margin: 0

.dropdown-item
  padding: 0
  &:hover
    background: transparent
    color: $accent

.btn-search
  margin: 0 18px 0 26px

.btn-burger
  width: 24px
  height: 16px
  justify-content: space-between
  align-self: center
  flex-direction: column
  display: none
  margin: 0 10px 0 0
  cursor: pointer
  span
    width: 100%
    height: 2px
    background: $hover
    display: block


.navbar-close
  display: none
  width: 20px
  height: 20px
  position: absolute
  right: 20px
  top: 20px
  cursor: pointer
  &:before, &:after
    content: ''
    position: absolute
    left: 10px
    top: 0
    width: 2px
    height: 100%
    background: $hover
    border-radius: 2px
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(135deg)

/*==========  section header end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/